## Check in exercises

In [5]:
import pandas as pd
import numpy as np

In [1]:
s = pd.Series([1, 5, -999, -999], ['A', 'B', 'C', 'D'])
print(s)

A      1
B      5
C   -999
D   -999
dtype: int64

In [3]:
s = s.mask(s == -999)
s

A    1.0
B    5.0
C    NaN
D    NaN
dtype: float64

In [11]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([5, 6, 7]),
     }

# Create data frame
df = pd.DataFrame(d)
df

# rename column names
df = df.rename(columns={'col_name_1':'C1', 'col_name_2':'C2'})
df

   C1  C2
0   0   5
1   1   6
2   2   7

In [13]:
df.columns

Index(['C1', 'C2'], dtype='object')

In [15]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([5, 6, 7]),
     }

df = pd.DataFrame(d)

df.columns = ['C1', 'C2']
df

   C1  C2
0   0   5
1   1   6
2   2   7